@using BadmintonBookingApp.Models.Facilities
@model BadmintonBookingApp.Models.Facilities.Court

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourtName" class="control-label"></label>
                <input asp-for="CourtName" class="form-control" />
                <span asp-validation-for="CourtName" class="text-danger"></span>
            </div>
@*          <div class="form-group">
                <label asp-for="StateDate" class="control-label"></label>
                <input asp-for="StateDate" class="form-control" />
                <span asp-validation-for="StateDate" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select style="border-radius:5px" class="form-control" asp-items="@Status.GetValue()" asp-for="Status"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
