@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<div class="vh-100 gradient-custom" style="background-image: url('/images/Checkout.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">
    <div class="vh-100 gradient-custom">
        <div class="container py-5 h-100 opacity-80">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <section>
                        <div class="card" style="background-color: #19283f; color: white; border-radius: 1rem;">
                            <div class="card-body text-center">
                                <h2 class="fw-bold mb-2 text-uppercase">Change Password</h2>
                                <p class="text-white-50 mb-5">Please enter your old and new password!</p>
                                <form id="change-password-form" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="form-outline form-white mb-4">
                                        <label asp-for="Input.OldPassword" class="form-label text-white">Old Password</label>
                                        <input asp-for="Input.OldPassword" class="form-control round-input" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <label asp-for="Input.NewPassword" class="form-label text-white">New Password</label>
                                        <input asp-for="Input.NewPassword" class="form-control round-input" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <label asp-for="Input.ConfirmPassword" class="form-label text-white">Confirm Password</label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control round-input" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="submit-button btn rounded-pill main-btn">Update Password</button>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
