@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Thay đổi layout nếu cần
}

<div class="vh-100 gradient-custom" style="background-image: url('/images/Checkout.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">
    <!-- Nội dung của bạn ở đây -->
    <div class="vh-100 gradient-custom">
        <div class="container py-5 h-100 opacity-80">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <section>
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                            <div class="card" style="background-color: #19283f; color: white; border-radius: 1rem;">
                                <div class="card-body text-center">

                                    <div class="mb-md-2 mt-md-2 pb-5">
                                        <h2 class="fw-bold mb-2 text-uppercase">Forgot Password?</h2>
                                        <label class="text-white-50 mb-5">Enter your email address to reset your password.</label>

                                        <div class="form-outline form-white mb-4" , style="display:flex; flex-direction: column; align-items:center">
                                            <label asp-for="Input.Email" class="form-label" style="margin-bottom:20px !important">Email</label>
                                            <input asp-for="Input.Email" class="form-control round-input" style="width:250px" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>

                                        <button type="submit" class="submit-button btn rounded-pill main-btn">Reset Password</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
