@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_stolenLayout.cshtml";
}
<img class="parallax-slider" src="~/images/Checkout.jpg" style="position: absolute; width:100%">
<div class="landing d-flex justify-content-center align-items-center">
    <div class="container bg-light col-8 col-lg-3  p-4 rounded opacity-75  ">
        <form action="###" method="post">
            <div class="row">
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" class="form-control" id="floatingInput" placeholder="First Name" required>
                    <label for="floatingInput" class="ms-2"> First Name</label>
                </div>
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" required>
                    <label for="floatingInput" class="ms-2">Last Name</label>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control " id="floatingInput" placeholder="name@example.com" required>
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required minlength="8">
                <label for="floatingPassword">Password</label>
                <small class="form-text text-muted">*password must be greater than 8 characters</small>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control " id="floatingInput" placeholder="" required>
                <label for="floatingInput">Phone Number</label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="Sex" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    Male
                </label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="Sex" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Female
                </label>
            </div>
            <input type="submit" value="Sign Up" class="btn  rounded-pill main-btn">

        </form>
    </div>
</div>