@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vh-100 gradient-custom" style="background-image: url('/images/Checkout.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">
    <!-- Nội dung của bạn ở đây -->
    <div class="vh-100 gradient-custom d-flex justify-content-center align-items-center">
        <div class="card" style="background-color: #19283f; color: white; border-radius: 1rem; width: 850px">
            <div class="card-body text-center">

        
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                    <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
                    <p class="text-white-50 mb-5">Please enter your Email and Password!</p>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="row">
                        <div class="col">
                            <div class="form-outline form-white mb-4 " style="display: flex; flex-direction: column ;align-items:center">
                                <label asp-for="Input.Email"  class="form-label">Email</label>
                                <input asp-for="Input.Email" style="width: 250px" class="form-control round-input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline form-white mb-4" style="display: flex; flex-direction: column ;align-items:center">
                                <label asp-for="Input.FullName" class="form-label">Full name</label>
                                <input asp-for="Input.FullName" class="form-control round-input" autocomplete="fullname" aria-required="true" style="width: 250px"/>
                                <span asp-validation-for="Input.FullName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline form-white mb-4" style="display: flex; flex-direction: column ;align-items:center">
                                <label asp-for="Input.PhoneNumber" class="form-label">Phone number</label>
                                <input asp-for="Input.PhoneNumber" style="width: 250px" class="form-control round-input" autocomplete="phonenumber" aria-required="true" />
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-outline form-white mb-4" style="display: flex; flex-direction: column ;align-items:center">
                                <label asp-for="Input.Password">Password</label>
                                <input asp-for="Input.Password" style="width: 250px" class="form-control round-input" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline form-white mb-4" style="display: flex; flex-direction: column ;align-items:center">
                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                <input asp-for="Input.ConfirmPassword" style="width: 250px" class="form-control round-input" autocomplete="new-password" aria-required="true" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline form-white mb-4" style="display: flex; flex-direction: column ;align-items:center">
                                <input type="submit" value="Sign Up" class="submit-button btn rounded-pill main-btn" style="margin-top: 20px">
                            </div>
                        </div>

                    </div>


                </form>
                <div>
                    <p class="mb-0">
                        Already have an account?<a class="login" class="fw-bold btn" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</div>
