@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Thay đổi layout nếu cần
}

<div class="vh-100 gradient-custom" style="background-image: url('/images/Checkout.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">
    <!-- Nội dung của bạn ở đây -->
    <div class="vh-100 gradient-custom">
        <div class="container py-5 h-100 opacity-80">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-4">
                    <section>
                        <form id="reset-password-form" method="post">

                            <div class="card" style="background-color: #19283f; color: white; border-radius: 1rem;">
                                <div class="card-body text-center">

                                    <div class="mb-md-2 mt-md-2 pb-5">

                                        <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
                                        <p class="text-white-50 mb-5">Please enter your email and new password!</p>
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                                        <input asp-for="Input.Code" type="hidden" />
                                        <div class="form-outline form-white mb-4" , style="display:flex; flex-direction: column; align-items:center">

                                            <label asp-for="Input.Email" class="form-label" style="margin-bottom:20px !important">Email</label>
                                            <input asp-for="Input.Email" class="form-control round-input" style="width:250px" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>

                                        <div class="form-outline form-white mb-4" style="display:flex; flex-direction: column; align-items:center">

                                            <label asp-for="Input.Password" class="form-label">Password</label>
                                            <input asp-for="Input.Password" class="form-control round-input" autocomplete="new-password" aria-required="true" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>

                                        <div class="form-outline form-white mb-4" style="display:flex; flex-direction: column; align-items:center">

                                            <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                                            <input asp-for="Input.ConfirmPassword" class="form-control round-input" autocomplete="new-password" aria-required="true" />
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>

                                        <button id="reset-password-submit" type="submit" class="submit-button btn rounded-pill main-btn">Reset Password</button>

                                    </div>
                                </div>
                            </div>

                        </form>

                    </section>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
