@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Thay đổi layout nếu cần
}

<div class="vh-100 gradient-custom" style="background-image: url('/images/Checkout.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">
    <!-- Nội dung của bạn ở đây -->
    <div class="vh-100 gradient-custom">
        <div class="container py-5 h-100 opacity-80">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <section>
                        <div class="card" style="background-color: #19283f; color: white; border-radius: 1rem;">
                            <div class="card-body text-center">

                                <div class="mb-md-2 mt-md-2 pb-5">
                                    <h2 class="fw-bold mb-2 text-uppercase">@ViewData["Title"]</h2>
                                    <p class="text-white-50 mb-5">Your password has been reset. Please <a asp-page="./Login" style="margin: 0px" class="text-info">click here to log in</a>.</p>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
