/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo-name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo-name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links-name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links-name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links-name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log-out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log-out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
/*-----------------*/
/*
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1002;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;
        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;
        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1001;
    -webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0); /* IE 9 */
    transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%); /* IE 9 */
    transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%); /* IE 9 */
    transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%); /* IE 9 */
    transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

p {
    line-height: 1.8;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

    a:hover {
        color: #009999;
    }

.container-fluid {
    max-width: 1770px;
}

.tm-container-small {
    max-width: 1050px;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: #009999;
    border: 0;
    border-radius: 5px;
    padding: 12px 50px 14px;
    font-size: 1.2rem;
}

    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #086969;
    }

    .btn-primary.disabled,
    .btn-primary:disabled {
        background-color: #009999;
        pointer-events: all;
        cursor: not-allowed;
    }

.form-control {
    padding: 10px 20px;
    width: 100%;
    height: auto;
}

.form-group {
    margin-bottom: 25px;
}

.tm-btn-big {
    padding: 12px 90px 14px;
}

/*.navbar-toggler:focus { box-shadow: none; }
.navbar-brand {
    color: #3399CC;
    font-size: 1.6rem;
}

.navbar-brand i { font-size: 2rem; }*/

.tm-hero {
    min-height: 200px;
    background: transparent;
}

.tm-mt-60 {
    margin-top: 60px;
}

.tm-mb-50 {
    margin-bottom: 50px;
}

.tm-mb-74 {
    margin-bottom: 74px;
}

.tm-mb-90 {
    margin-bottom: 90px;
}

.tm-text-primary {
    color: #009999;
}

.tm-text-secondary {
    color: #CC6699;
}

a.tm-text-primary:hover {
    color: #666666;
}

.tm-bg-gray {
    background-color: #EEEEEE;
}

.tm-input-paging {
    width: 40px;
    border-radius: 0;
    border: 1px solid #CCCCCC;
    background: #f4f4f4;
    text-align: center;
}

/*.nav-item { margin-right: 30px; }
.nav-item:last-child { margin-right: 0; }*/

/*.nav-link {
    color: #666666;
    border-bottom: 4px solid transparent;
    font-size: 1.2rem;
}

.nav-link-1.active,
.nav-link-1:hover {
    border-color: #33CCFF;
}

.nav-link-2.active,
.nav-link-2:hover {
    border-color: #FF6666;
}

.nav-link-3.active,
.nav-link-3:hover {
    border-color: #33CC66;
}

.nav-link-4.active,
.nav-link-4:hover {
    border-color: #CC66CC;
}*/

.tm-search-input {
    width: 360px;
    border-radius: 0;
    padding: 12px 15px;
    color: #009999;
    border: none;
}

    .tm-search-input:focus {
        border-color: #009999;
        box-shadow: 0 0 0 0.25rem rgb(0 153 153 / 0.25);
    }

    .tm-search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #009999;
        opacity: 1; /* Firefox */
    }

    .tm-search-input::-ms-input-placeholder { /* Microsoft Edge */
        color: #009999;
    }

.tm-search-btn {
    color: white;
    background-color: #009999;
    border: none;
    width: 100px;
    height: 50px;
    margin-left: -1px;
}

p, .tm-text-gray {
    color: #999;
}

.tm-text-gray-light {
    color: #CCC;
}

.tm-text-gray-dark {
    color: #666;
}

.tm-video-item {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

    .tm-video-item img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 0.8;
    }

    .tm-video-item figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

        .tm-video-item figcaption::before,
        .tm-video-item figcaption::after {
            pointer-events: none;
        }

        .tm-video-item figcaption,
        .tm-video-item figcaption > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

            .tm-video-item figcaption > a {
                z-index: 1000;
                text-indent: 200%;
                white-space: nowrap;
                font-size: 0;
                opacity: 0;
            }

    .tm-video-item h2 {
        word-spacing: -0.15em;
        font-weight: 300;
    }

    .tm-video-item h2,
    .tm-video-item p {
        margin: 0;
    }

    .tm-video-item p {
        letter-spacing: 1px;
        font-size: 68.5%;
    }

.tm-gallery div.d-block {
    animation: show .5s ease;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.tm-paging-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 1.1rem;
    color: #999;
    background-color: #EEEEEE;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

    .tm-paging-link:hover,
    .tm-paging-link.active {
        background-color: #009999;
        color: #fff;
    }

/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect-ming {
    background: #030c17;
}

    figure.effect-ming img {
        opacity: 0.9;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }

    figure.effect-ming figcaption::before {
        position: absolute;
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        border: 2px solid #fff;
        box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1.4,1.4,1);
        transform: scale3d(1.4,1.4,1);
    }

    figure.effect-ming h2 {
        font-size: 1.3em;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    figure.effect-ming:hover figcaption::before,
    figure.effect-ming:hover h2 {
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }

    figure.effect-ming:hover figcaption {
        background-color: rgba(58,52,42,0);
    }

    figure.effect-ming:hover img {
        opacity: 0.4;
    }

.tm-footer-links li {
    list-style: none;
    margin-bottom: 5px;
}

    .tm-footer-links li a {
        color: #999999;
    }

        .tm-footer-links li a:hover {
            color: #009999;
        }

.tm-social-links li {
    list-style: none;
    margin-right: 15px;
}

    .tm-social-links li:last-child {
        margin-right: 0;
    }

    .tm-social-links li a {
        color: #999999;
        width: 44px;
        height: 44px;
        display: flex;
        background-color: #fff;
        align-items: center;
        justify-content: center;
    }

        .tm-social-links li a:hover {
            color: #fff;
            background-color: #009999;
        }

.tm-footer {
    font-size: 0.95rem;
}

.tm-footer-title {
    font-size: 1.4rem;
}

/* Videos */
#tm-video-container {
    max-height: 400px;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 90px;
    position: relative;
}

#tm-video {
    display: block;
    width: 100%;
    height: auto;
}

#tm-video-control-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color: #e1e1e1;
}

.tm-video-details {
    height: 100%;
    padding: 40px;
}

/* About */
.tm-row-1640 {
    max-width: 1640px;
}

.tm-about-2-col {
    max-width: 716px;
}

.tm-about-3-col {
    max-width: 540px;
}

.tm-about-2-col,
.tm-about-3-col {
    margin-bottom: 50px;
}

.tm-about-icon-container {
    width: 150px;
    height: 150px;
    border: 1px solid #009999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-about-img-text {
    max-width: 940px;
}

/* Contact */
select.form-control {
    border-radius: 0;
}

    select.form-control option {
        height: 30px;
    }

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-image: url(../img/select-arrow.png);
    padding: 14px 20px;
    padding-right: 20px;
    color: #666;
}

.mapouter {
    position: relative;
    height: 480px;
    width: 100%;
    max-width: 480px;
}

.gmap-canvas {
    overflow: hidden;
    background: none !important;
    height: 480px;
    width: 100%;
}

.tm-contact-form {
    max-width: 420px;
}

.tm-address-col {
    max-width: 520px;
}

.tm-contacts {
    padding-left: 0;
}

    .tm-contacts li {
        list-style: none;
        margin-bottom: 20px;
    }

        .tm-contacts li a i {
            width: 30px;
        }

.tm-social {
    display: flex;
}

    .tm-social li {
        list-style: none;
        margin-bottom: 20px;
        margin-right: 15px;
    }

        .tm-social li a i {
            width: 40px;
            height: 40px;
            color: #666666;
            background-color: #EEEEEE;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
        }

        .tm-social li a:hover i {
            color: #fff;
            background-color: #009999;
        }

.form-control,
input:-internal-autofill-selected,
select:not([multiple]) {
    color: #009999 !important;
}

    .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #009999;
        opacity: 1; /* Firefox */
    }

@media (max-width: 991px) {
    .navbar-collapse {
        position: fixed;
        top: 50px;
        right: 0px;
        background: white;
        width: 150px;
        padding: 15px;
    }

    .tm-container-content {
        max-width: 870px;
    }

    .tm-contact-form, .tm-address-col, .mapouter {
        max-width: 100%;
    }

    .tm-people-row {
        max-width: 900px;
    }
}

@media (max-width: 767px) {
    .tm-paging-col {
        flex-direction: column;
    }

    .tm-paging {
        flex-wrap: wrap;
    }

    .tm-about-img-text {
        max-width: 640px;
    }

    .tm-about-2-col, .tm-about-3-col {
        margin-bottom: 50px;
    }
}

@media (max-width: 575px) {
    .tm-container-content {
        max-width: 420px;
    }

    .tm-search-form {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        justify-content: center;
    }

    .tm-search-input {
        width: 100%;
        max-width: 360px;
    }

    .tm-people-row {
        max-width: 420px;
    }
}

@media (max-width: 400px) {
    .tm-btn-big {
        padding: 12px 50px 14px;
    }
}

@media (max-width: 334px) {
    .tm-social-links {
        flex-wrap: wrap;
        justify-content: start !important;
    }

        .tm-social-links li {
            margin-right: 3px;
        }
}