@page
@model BadmintonBookingApp.Areas.Identity.Pages.RequestConfirmEmailModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="vh-100 gradient-custom" style="background-image: url('/images/Checkout.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">
    <!-- Nội dung của bạn ở đây -->
    <div class="vh-100 gradient-custom d-flex justify-content-center align-items-center">
        <div class="card" style="background-color: #19283f; color: white; border-radius: 1rem; width: 850px">
            <div class="card-body text-center">
                <h1>Email confirmed!</h1>
                <label>Your email has been confirmed! Please login to use our services.</label>
            </div>
        </div>
    </div>

</div>
