<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BadmintonBookingApp</title>
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/hotel.css">
    <link rel="stylesheet" href="~/css/reserve.css">
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Open+Sans:wght@400;700&family=Roboto:wght@100;300;500&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <style>
        .btn-primary {
            background: transparent;
            margin-top: 20px;
            width: 150px;
            color: white;
            font-weight: bold;
            border: red;
            background-color: red;
            cursor: pointer;
        }

        .btn-primary:hover {
            background-color: darkred;
        }

        .btn-primary:active {
            background-color: darkred;
        }

        .input-group input::placeholder {
            color: #333;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
               <a class="navbar-brand" href="#tm-video-container">
                <img style="width: 150px" src="/images/logo/badminton_logo_light.png" alt="">
          </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main" aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="main">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3 active" aria-current="page" asp-controller="Home" asp-area="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" asp-controller="Home" asp-area="">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" asp-controller="Home" asp-area="">Court</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2  p-lg-3" asp-action="Index" asp-controller="Reservations">Reserve Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2  p-lg-3" href="#about">About</a>
                    </li>
            
                </ul>
                <div class="search ps-3 pe-3 d-none d-lg-block">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                @* <a class="btn  rounded-pill main-btn" asp-area="Identity" asp-page="/Account/Login">Login</a> *@
   @*              <a class="btn  rounded-pill main-btn" asp-area="Identity" asp-page="/Account/Register">Register</a> *@
            </div>
            <partial name="_LoginPartial" />
        </div>
    </nav>
    <div >
        @RenderBody()
    </div>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script src="~/js/all.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
